extends layout

block content
  div.container
    form.form-horizontal(name='question', action='/questions', method='post', role='form')
      div.form-group
        label.col-sm-2.control-label(for='text') #{__('text')}:
        div.col-sm-8
          input.form-control(type='text', name='text')
      div.form-group
        label.col-sm-2.control-label(for='type') #{__('type')}:
        div.col-sm-8
          select.form-control(name="type")
            option(value="multichoice", selected="true") #{__('multichoice')}
            option(value="truefalse") #{__('truefalse')}
            option(value="numerical") #{__('numerical')}
      div.form-group
        label.col-sm-2.control-label(for='lang') #{__('language')}:
        div.col-sm-8
          select.form-control(name="lang")
            option(value="en", selected="true") #{__('english')}
            option(value="es") #{__('spanish')}
      div.form-group
        label.col-sm-2.control-label(for='tags') #{__('tags')}:
        div.col-sm-8
          input.form-control(type='tags', name='tags')
      div.col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit') #{__('createquestion')}

  div.container
    h1 #{__('questionslist')}
    p #{__('questionslistdesc')}

    table.table.table-bordered
      tr
        th #{__('text')}
        th #{__('type')}
        th #{__('language')}
        th #{__('votes')}
        th #{__('favs')}
        th #{__('actions')}
      if questions
        each val, index in questions
          tr
            td #{val.text}
            td #{val.type}
            td #{val.language}
            td #{val.meta.votes}
            td #{val.meta.favs}
            td
              a.btn.btn-default(href='questions/#{val._id}', data-toggle='tooltip', title="#{__('edit')}")
                span.glyphicon.glyphicon-pencil
              a.btn.btn-default(href='questions/#{val._id}/voteup', data-toggle='tooltip', title="#{__('upvote')}")
                span.glyphicon.glyphicon-thumbs-up
              a.btn.btn-default(href='questions/#{val._id}/votedown', data-toggle='tooltip', title="#{__('downvote')}")
                span.glyphicon.glyphicon-thumbs-down
              a.btn.btn-default(href='questions/#{val._id}/favorite', data-toggle='tooltip', title="#{__('favorite')}")
                span.glyphicon.glyphicon-star
              a.btn.btn-default(href='questions/#{val._id}/delete', data-toggle='tooltip', title="#{__('delete')}")
                span.glyphicon.glyphicon-remove
